### Lendo planilha com ("aba") específica

In [ ]:
import pandas as pd 

tabela = pd.read_excel("PLANILHOA.xlsx", sheet_name="BASE MATÉRIA PRIMA")

display(tabela)

# sheet_name = traz a aba do nosso dataframe
# usecols = e um selecionador de coluna 
# skiprows =  pula a linha desejada em nosso dataframe

,Data Emissão NF,Data Recebimento Fábrica,Fornecedor,Material,Código,Prazo,NF,Peso NF,Peso Balança,Dif. Peso,...,CÓDIGO DE FORNCEDOR,DIÁRIA,DIÁRIA SEM IMPOSTO,NOTA REF A DIÁRIA,FORNECEDOR,CÓDIGO,MÊS,ESTADO,Unnamed: 34,DIÁRIA.1
0,2024-01-02,2024-01-03 01:10:00,CURTIDORA ITAUNA,RASPA,CURTIDORA ITAUNARASPA,90,54508,39010.0,39010.0,0.0,...,4,0.00,0.000,NaN,NaN,CURTIDORA ITAUNA54508,1,MINAS GERAIS,NaN,DEVOLUÇÃO
1,2024-01-03,2024-01-03 13:03:00,CURTUME DELLA TORRE,RASPA,CURTUME DELLA TORRERASPA,60,34298,34180.0,34180.0,0.0,...,4,0.00,0.000,NaN,NaN,CURTUME DELLA TORRE34298,1,SÃO PAULO,NaN,NaN
2,2024-01-03,2024-01-03 17:28:00,CURTUME TROPICAL,COURO (FLOR),CURTUME TROPICALCOURO (FLOR),30,24304,31930.0,31930.0,NaN,...,4,0.00,0.000,NaN,NaN,CURTUME TROPICAL24304,1,SÃO PAULO,NaN,NaN
3,2024-01-04,2024-01-04 16:42:00,CURTUME TOINZINHO,RASPA,CURTUME TOINZINHORASPA,21,46140,35500.0,35500.0,0.0,...,4,0.00,0.000,NaN,NaN,CURTUME TOINZINHO46140,1,MINAS GERAIS,NaN,NaN
4,2024-01-05,2024-01-08 08:28:00,CURTIDORA ITAUNA,COURO (FLOR),CURTIDORA ITAUNACOURO (FLOR),90,54545,30200.0,30200.0,0.0,...,4,0.00,0.000,NaN,NaN,CURTIDORA ITAUNA54545,1,MINAS GERAIS,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1705,2024-12-03,2024-12-03 16:31:00,CURTUME TROPICAL,COURO,CURTUME TROPICALCOURO,30,25230,29760.0,29760.0,0.0,...,4,0.00,0.000,NaN,NaN,CURTUME TROPICAL25230,12,SÃO PAULO,NaN,NaN
1706,2024-12-03,2024-12-03 16:47:00,CURTUME CUBATÃO,RASPA HALAL,CURTUME CUBATÃORASPA HALAL,50,13317,35010.0,35010.0,0.0,...,3,0.00,0.000,NaN,NaN,CURTUME CUBATÃO13317,12,SÃO PAULO,NaN,NaN
1707,2024-12-02,2024-12-03 18:22:00,CURTIDORA ITAUNA,COURO,CURTIDORA ITAUNACOURO,90,59102,38100.0,38100.0,0.0,...,4,0.00,0.000,NaN,NaN,CURTIDORA ITAUNA59102,12,MINAS GERAIS,NaN,NaN
1708,2024-12-03,DIÁRIA,KAUAN,PAGTO DE DIÁRIA,KAUANPAGTO DE DIÁRIA,ACORDO,713,0.0,0.0,0.0,...,2,1648.40,1298.115,DIÁRIA,COLOSSO COUROS,KAUAN713,12,NaN,NaN,NaN
1709,2024-12-03,DIÁRIA,BECCHI,PAGTO DE DIÁRIA,BECCHIPAGTO DE DIÁRIA,ACORDO,23066,0.0,0.0,0.0,...,2,1312.64,1033.704,DIÁRIA,UPA COUROS,BECCHI23066,12,NaN,NaN,NaN

### Tipo de filtros

In [3]:
filter1 = tabela["Fornecedor"].isin(["CURTIDORA ITAUNA", "CURTUME DELLA TORRE"])

filter2 = (tabela["Fornecedor"] == "CURTIDORA ITAUNA") | (tabela["Fornecedor"] == "CURTUME DELLA TORRE")

# Esse meio de filtro ~ significa diferente e funcion melhor que !=
filtro = ~tabela["CÓDIGO"].isin(["CURTIDORA ITAUNA54508", "CURTUME DELLA TORRE34298"])
tabela = tabela[filtro]

display(tabela[filtro])

C:\Users\Leandro Souza\AppData\Local\Temp\ipykernel_13388\3239336233.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  display(tabela[filtro])

,Data Emissão NF,Data Recebimento Fábrica,Fornecedor,Material,Código,Prazo,NF,Peso NF,Peso Balança,Dif. Peso,...,CÓDIGO DE FORNCEDOR,DIÁRIA,DIÁRIA SEM IMPOSTO,NOTA REF A DIÁRIA,FORNECEDOR,CÓDIGO,MÊS,ESTADO,Unnamed: 34,DIÁRIA.1
2,2024-01-03,2024-01-03 17:28:00,CURTUME TROPICAL,COURO (FLOR),CURTUME TROPICALCOURO (FLOR),30,24304,31930.0,31930.0,NaN,...,4,0.00,0.000,NaN,NaN,CURTUME TROPICAL24304,1,SÃO PAULO,NaN,NaN
3,2024-01-04,2024-01-04 16:42:00,CURTUME TOINZINHO,RASPA,CURTUME TOINZINHORASPA,21,46140,35500.0,35500.0,0.0,...,4,0.00,0.000,NaN,NaN,CURTUME TOINZINHO46140,1,MINAS GERAIS,NaN,NaN
4,2024-01-05,2024-01-08 08:28:00,CURTIDORA ITAUNA,COURO (FLOR),CURTIDORA ITAUNACOURO (FLOR),90,54545,30200.0,30200.0,0.0,...,4,0.00,0.000,NaN,NaN,CURTIDORA ITAUNA54545,1,MINAS GERAIS,NaN,NaN
5,2024-01-08,2024-01-08 17:15:00,CURTUME TROPICAL,COURO (FLOR),CURTUME TROPICALCOURO (FLOR),30,24306,25700.0,25700.0,0.0,...,4,0.00,0.000,NaN,NaN,CURTUME TROPICAL24306,1,SÃO PAULO,NaN,NaN
6,2024-01-08,2024-01-08 17:28:00,CURTUME DELLA TORRE,RASPA,CURTUME DELLA TORRERASPA,60,34313,34770.0,34770.0,0.0,...,4,0.00,0.000,NaN,NaN,CURTUME DELLA TORRE34313,1,SÃO PAULO,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1705,2024-12-03,2024-12-03 16:31:00,CURTUME TROPICAL,COURO,CURTUME TROPICALCOURO,30,25230,29760.0,29760.0,0.0,...,4,0.00,0.000,NaN,NaN,CURTUME TROPICAL25230,12,SÃO PAULO,NaN,NaN
1706,2024-12-03,2024-12-03 16:47:00,CURTUME CUBATÃO,RASPA HALAL,CURTUME CUBATÃORASPA HALAL,50,13317,35010.0,35010.0,0.0,...,3,0.00,0.000,NaN,NaN,CURTUME CUBATÃO13317,12,SÃO PAULO,NaN,NaN
1707,2024-12-02,2024-12-03 18:22:00,CURTIDORA ITAUNA,COURO,CURTIDORA ITAUNACOURO,90,59102,38100.0,38100.0,0.0,...,4,0.00,0.000,NaN,NaN,CURTIDORA ITAUNA59102,12,MINAS GERAIS,NaN,NaN
1708,2024-12-03,DIÁRIA,KAUAN,PAGTO DE DIÁRIA,KAUANPAGTO DE DIÁRIA,ACORDO,713,0.0,0.0,0.0,...,2,1648.40,1298.115,DIÁRIA,COLOSSO COUROS,KAUAN713,12,NaN,NaN,NaN
1709,2024-12-03,DIÁRIA,BECCHI,PAGTO DE DIÁRIA,BECCHIPAGTO DE DIÁRIA,ACORDO,23066,0.0,0.0,0.0,...,2,1312.64,1033.704,DIÁRIA,UPA COUROS,BECCHI23066,12,NaN,NaN,NaN

### Lendo planilha com ("aba") específica, com índice da aba

In [ ]:
tabela = pd.read_excel("PLANILHOA.xlsx", sheet_name=1)

display(tabela)

,FORNCEDOR,FORNECEDOR E MATERIAL,Fornecedor1,Tipo,R$/Ton.,Frete R$/Ton.,Prestação Serviços,Preço Total com impostos,Preço Total SEM impostos,Volume Previsto,Custo Total SEM IMPOSTOS R$/Ton.,Custo Total COM IMPOSTOS R$/Ton.,% Fornecedor,MÊS,CÓDIGO,MÊS.1
0,CURTUME TROPICAL LTDA,CURTUME TROPICALAparas,Curtume Boi Santo Ltda.,Aparas,600.0,55,NaN,655.0,550.3230,0,0.00,0.0,0.000000,JANEIRO,1,NaN
1,CURTUME CUBATAO LTDA,CURTUME CUBATÃOAparas,Curtume Cubatão Ltda.,Aparas,650.0,0,NaN,650.0,548.6000,0,0.00,0.0,0.000000,JANEIRO,1,NaN
2,FUGA COUROS SP,FUGA COUROS/SPAparas,Fuga Couros - Jales/SP,Aparas,500.0,461,NaN,961.0,790.1546,0,0.00,0.0,0.000000,JANEIRO,1,NaN
3,DURLI COUROS/PA,DURLI COUROS/PAAparas,Durli Couros - PA (Xinguara),Aparas,500.0,720,NaN,1220.0,974.2920,0,0.00,0.0,0.000000,JANEIRO,1,NaN
4,DURLI COUROS/MT,DURLI COUROS/MTAparas,Durli Couros - MT (Cuiabá),Aparas,600.0,500,NaN,1100.0,878.4600,0,0.00,0.0,0.000000,JANEIRO,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,FUGA COUROS MS,FUGA COUROS/MSRaspa,Fuga Couros - Paranaíba/MS,Raspa,1100.0,461,NaN,1561.0,1246.6146,0,0.00,0.0,0.000000,NOVEMBRO,11,NaN
437,CURTUME DELLA TORRE LTDA,CURTUME DELLA TORRERaspa,Curtume Della Torre,Raspa,1000.0,55,NaN,1055.0,887.9230,120,106550.76,126600.0,0.024732,NOVEMBRO,11,NaN
438,DURLI COUROS/TO,DURLI COUROS/TORaspa,Durli Couros - Wanderlândia-TO,Raspa,900.0,720,NaN,1620.0,1293.7320,0,0.00,0.0,0.000000,NOVEMBRO,11,NaN
439,CURTIDORA ITAUNA LTDA,CURTIDORA ITAUNARaspa,Curtidora Itauna Ltda.,Raspa,1100.0,276,NaN,1376.0,1098.8736,0,0.00,0.0,0.000000,NOVEMBRO,11,NaN
440,CURTUME TOINZINHO LTDA,CURTUME TOINZINHORaspa,Curtume Toinzinho Ltda,Raspa,1000.0,55,NaN,1055.0,842.5230,120,101102.76,126600.0,0.024732,NOVEMBRO,11,NaN

### Selecionando as colunas, pelo índice

In [ ]:
tabela = pd.read_excel("PLANILHOA.xlsx", sheet_name="BASE MATÉRIA PRIMA", usecols=[3, 4]) 
display(tabela)

             Material                        Código
0               RASPA         CURTIDORA ITAUNARASPA
1               RASPA      CURTUME DELLA TORRERASPA
2        COURO (FLOR)  CURTUME TROPICALCOURO (FLOR)
3               RASPA        CURTUME TOINZINHORASPA
4        COURO (FLOR)  CURTIDORA ITAUNACOURO (FLOR)
...               ...                           ...
1705            COURO         CURTUME TROPICALCOURO
1706      RASPA HALAL    CURTUME CUBATÃORASPA HALAL
1707            COURO         CURTIDORA ITAUNACOURO
1708  PAGTO DE DIÁRIA          KAUANPAGTO DE DIÁRIA
1709  PAGTO DE DIÁRIA         BECCHIPAGTO DE DIÁRIA

[1710 rows x 2 columns]

### Buscando apenas a informação desejada

In [ ]:
tabela = pd.read_excel("PLANILHOA.xlsx", sheet_name=None)
display(tabela["BASE MATÉRIA PRIMA"])

,Data Emissão NF,Data Recebimento Fábrica,Fornecedor,Material,Código,Prazo,NF,Peso NF,Peso Balança,Dif. Peso,...,CÓDIGO DE FORNCEDOR,DIÁRIA,DIÁRIA SEM IMPOSTO,NOTA REF A DIÁRIA,FORNECEDOR,CÓDIGO,MÊS,ESTADO,Unnamed: 34,DIÁRIA.1
0,2024-01-02,2024-01-03 01:10:00,CURTIDORA ITAUNA,RASPA,CURTIDORA ITAUNARASPA,90,54508,39010.0,39010.0,0.0,...,4,0.00,0.000,NaN,NaN,CURTIDORA ITAUNA54508,1,MINAS GERAIS,NaN,DEVOLUÇÃO
1,2024-01-03,2024-01-03 13:03:00,CURTUME DELLA TORRE,RASPA,CURTUME DELLA TORRERASPA,60,34298,34180.0,34180.0,0.0,...,4,0.00,0.000,NaN,NaN,CURTUME DELLA TORRE34298,1,SÃO PAULO,NaN,NaN
2,2024-01-03,2024-01-03 17:28:00,CURTUME TROPICAL,COURO (FLOR),CURTUME TROPICALCOURO (FLOR),30,24304,31930.0,31930.0,NaN,...,4,0.00,0.000,NaN,NaN,CURTUME TROPICAL24304,1,SÃO PAULO,NaN,NaN
3,2024-01-04,2024-01-04 16:42:00,CURTUME TOINZINHO,RASPA,CURTUME TOINZINHORASPA,21,46140,35500.0,35500.0,0.0,...,4,0.00,0.000,NaN,NaN,CURTUME TOINZINHO46140,1,MINAS GERAIS,NaN,NaN
4,2024-01-05,2024-01-08 08:28:00,CURTIDORA ITAUNA,COURO (FLOR),CURTIDORA ITAUNACOURO (FLOR),90,54545,30200.0,30200.0,0.0,...,4,0.00,0.000,NaN,NaN,CURTIDORA ITAUNA54545,1,MINAS GERAIS,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1705,2024-12-03,2024-12-03 16:31:00,CURTUME TROPICAL,COURO,CURTUME TROPICALCOURO,30,25230,29760.0,29760.0,0.0,...,4,0.00,0.000,NaN,NaN,CURTUME TROPICAL25230,12,SÃO PAULO,NaN,NaN
1706,2024-12-03,2024-12-03 16:47:00,CURTUME CUBATÃO,RASPA HALAL,CURTUME CUBATÃORASPA HALAL,50,13317,35010.0,35010.0,0.0,...,3,0.00,0.000,NaN,NaN,CURTUME CUBATÃO13317,12,SÃO PAULO,NaN,NaN
1707,2024-12-02,2024-12-03 18:22:00,CURTIDORA ITAUNA,COURO,CURTIDORA ITAUNACOURO,90,59102,38100.0,38100.0,0.0,...,4,0.00,0.000,NaN,NaN,CURTIDORA ITAUNA59102,12,MINAS GERAIS,NaN,NaN
1708,2024-12-03,DIÁRIA,KAUAN,PAGTO DE DIÁRIA,KAUANPAGTO DE DIÁRIA,ACORDO,713,0.0,0.0,0.0,...,2,1648.40,1298.115,DIÁRIA,COLOSSO COUROS,KAUAN713,12,NaN,NaN,NaN
1709,2024-12-03,DIÁRIA,BECCHI,PAGTO DE DIÁRIA,BECCHIPAGTO DE DIÁRIA,ACORDO,23066,0.0,0.0,0.0,...,2,1312.64,1033.704,DIÁRIA,UPA COUROS,BECCHI23066,12,NaN,NaN,NaN

### Buscando todas as informações de um arquivo

In [ ]:
tabela = pd.read_excel("PLANILHOA.xlsx", sheet_name=None)
display(tabela)

{'INFORMAÇÕES':                   COLOSSO COUROS LTDA         COLOSSO COUROS  SP  \
 0               CURTIDORA ITAUNA LTDA       CURTIDORA ITAUNA  MG
 1   CURTUME CUBATAO LTDA (BOM JARDIM)        CURTUME CUBATÃO  SP
 2            CURTUME DELLA TORRE LTDA    CURTUME DELLA TORRE  SP
 3          CURTUME SANTO ANTONIO LTDA  CURTUME SANTO ANTONIO  MG
 4                 CURTUME TIGRAO LTDA         CURTUME TIGRÃO  MG
 5               CURTUME TROPICAL LTDA       CURTUME TROPICAL  SP
 6                            FUGA S/A            FUGA COUROS  SP
 7           PRO-FORTE INDUSTRIAL LTDA  PROFORTE (SOL COUROS)  SP
 8         WAY SOLUTIONS COLAGENO LTDA          WAY SOLUTIONS  SP
 9                            FUGA S/A         FUGA COUROS/MS  MS
 10             CURTUME TOINZINHO LTDA      CURTUME TOINZINHO  MG
 11                    UPA COUROS S.A.             UPA COUROS  PR
 12              APUCARANA LEATHER S/A              APUCARANA  PR
 13                                NaN        DURLI COUROS/MS  MS

                   COLOSSO COUROS LTDASP           SÃO PAULO  Unnamed: 5  \
 0               CURTIDORA ITAUNA LTDAMG        MINAS GERAIS         NaN
 1   CURTUME CUBATAO LTDA (BOM JARDIM)SP           SÃO PAULO         NaN
 2            CURTUME DELLA TORRE LTDASP           SÃO PAULO         NaN
 3          CURTUME SANTO ANTONIO LTDAMG        MINAS GERAIS         NaN
 4                 CURTUME TIGRAO LTDAMG        MINAS GERAIS         NaN
 5               CURTUME TROPICAL LTDASP           SÃO PAULO         NaN
 6                            FUGA S/ASP           SÃO PAULO         NaN
 7           PRO-FORTE INDUSTRIAL LTDASP           SÃO PAULO         NaN
 8         WAY SOLUTIONS COLAGENO LTDASP           SÃO PAULO         NaN
 9                            FUGA S/AMS  MATO GROSSO DO SUL         NaN
 10             CURTUME TOINZINHO LTDAMG        MINAS GERAIS         NaN
 11                    UPA COUROS S.A.PR              PARANÁ         NaN
 12              APUCARANA LEATHER S/APR              PARANÁ         NaN
 13                   DURLI COUROS/MS/MS  MATO GROSSO DO SUL         NaN

          JALOTO  0.7875  Unnamed: 8    JANEIRO
 0         KAUAN  0.9306         NaN  FEVEREIRO
 1      BRASINHA  0.7875         NaN      MARÇO
 2       CLEOMAR  0.9306         NaN      ABRIL
 3        BECCHI  0.7875         NaN       MAIO
 4     ANNA AGRO  0.7875         NaN      JUNHO
 5   FUGA COUROS  0.7875         NaN      JULHO
 6           NaN     NaN         NaN     AGOSTO
 7           NaN     NaN         NaN   SETEMBRO
 8           NaN     NaN         NaN    OUTUBRO
 9           NaN     NaN         NaN   NOVEMBRO
 10          NaN     NaN         NaN   DEZEMBRO
 11          NaN     NaN         NaN        NaN
 12          NaN     NaN         NaN        NaN
 13          NaN     NaN         NaN        NaN  ,
 'BASE PROGRAMAÇÃO':                     FORNCEDOR     FORNECEDOR E MATERIAL  \
 0       CURTUME TROPICAL LTDA    CURTUME TROPICALAparas
 1        CURTUME CUBATAO LTDA     CURTUME CUBATÃOAparas
 2              FUGA COUROS SP      FUGA COUROS/SPAparas
 3             DURLI COUROS/PA     DURLI COUROS/PAAparas
 4             DURLI COUROS/MT     DURLI COUROS/MTAparas
 ..                        ...                       ...
 436            FUGA COUROS MS       FUGA COUROS/MSRaspa
 437  CURTUME DELLA TORRE LTDA  CURTUME DELLA TORRERaspa
 438           DURLI COUROS/TO      DURLI COUROS/TORaspa
 439     CURTIDORA ITAUNA LTDA     CURTIDORA ITAUNARaspa
 440    CURTUME TOINZINHO LTDA    CURTUME TOINZINHORaspa

                         Fornecedor1    Tipo  R$/Ton. Frete R$/Ton.  \
 0           Curtume Boi Santo Ltda.  Aparas    600.0            55
 1             Curtume Cubatão Ltda.  Aparas    650.0             0
 2            Fuga Couros - Jales/SP  Aparas    500.0           461
 3      Durli Couros - PA (Xinguara)  Aparas    500.0           720
 4        Durli Couros - MT (Cuiabá)  Aparas    600.0           500
 ..                              ...     ...      ...           ...
 436      Fuga Couros - Paranaíba/MS   Raspa   1100.0           461
 437             Curtume Della Torre   Raspa   1000.0            55
 438  Durli Couros - Wanderlândia-TO   Raspa    900.0           720
 439          Curtidora Itauna Ltda.   Raspa   1100.0           276
 440          Curtume Toinzinho Ltda   Raspa   1000.0            55

      Prestação Serviços  Preço Total com impostos  Preço Total SEM impostos  \
 0                   NaN                     655.0                  550.3230
 1                   NaN                     650.0                  548.6000
 2                   NaN                     961.0                  790.1546
 3                   NaN                    1220.0                  974.2920
 4                   NaN                    1100.0                  878.4600
 ..                  ...                       ...                       ...
 436                 NaN                    1561.0                 1246.6146
 437                 NaN                    1055.0                  887.9230
 438                 NaN                    1620.0                 1293.7320
 439                 NaN                    1376.0                 1098.8736
 440                 NaN                    1055.0                  842.5230

      Volume Previsto  Custo Total SEM IMPOSTOS R$/Ton.  \
 0                  0                              0.00
 1                  0                              0.00
 2                  0                              0.00
 3                  0                              0.00
 4                  0                              0.00
 ..               ...                               ...
 436                0                              0.00
 437              120                         106550.76
 438                0                              0.00
 439                0                              0.00
 440              120                         101102.76

      Custo Total COM IMPOSTOS R$/Ton.  % Fornecedor       MÊS  CÓDIGO  MÊS.1
 0                                 0.0      0.000000   JANEIRO       1    NaN
 1                                 0.0      0.000000   JANEIRO       1    NaN
 2                                 0.0      0.000000   JANEIRO       1    NaN
 3                                 0.0      0.000000   JANEIRO       1    NaN
 4                                 0.0      0.000000   JANEIRO       1    NaN
 ..                                ...           ...       ...     ...    ...
 436                               0.0      0.000000  NOVEMBRO      11    NaN
 437                          126600.0      0.024732  NOVEMBRO      11    NaN
 438                               0.0      0.000000  NOVEMBRO      11    NaN
 439                               0.0      0.000000  NOVEMBRO      11    NaN
 440                          126600.0      0.024732  NOVEMBRO      11    NaN

 [441 rows x 16 columns],
 'BASE MATÉRIA PRIMA':      Data Emissão NF Data Recebimento Fábrica           Fornecedor  \
 0         2024-01-02      2024-01-03 01:10:00     CURTIDORA ITAUNA
 1         2024-01-03      2024-01-03 13:03:00  CURTUME DELLA TORRE
 2         2024-01-03      2024-01-03 17:28:00     CURTUME TROPICAL
 3         2024-01-04      2024-01-04 16:42:00    CURTUME TOINZINHO
 4         2024-01-05      2024-01-08 08:28:00     CURTIDORA ITAUNA
 ...              ...                      ...                  ...
 1705      2024-12-03      2024-12-03 16:31:00     CURTUME TROPICAL
 1706      2024-12-03      2024-12-03 16:47:00      CURTUME CUBATÃO
 1707      2024-12-02      2024-12-03 18:22:00     CURTIDORA ITAUNA
 1708      2024-12-03                   DIÁRIA                KAUAN
 1709      2024-12-03                   DIÁRIA               BECCHI

              Material                        Código   Prazo     NF  Peso NF  \
 0               RASPA         CURTIDORA ITAUNARASPA      90  54508  39010.0
 1               RASPA      CURTUME DELLA TORRERASPA      60  34298  34180.0
 2        COURO (FLOR)  CURTUME TROPICALCOURO (FLOR)      30  24304  31930.0
 3               RASPA        CURTUME TOINZINHORASPA      21  46140  35500.0
 4        COURO (FLOR)  CURTIDORA ITAUNACOURO (FLOR)      90  54545  30200.0
 ...               ...                           ...     ...    ...      ...
 1705            COURO         CURTUME TROPICALCOURO      30  25230  29760.0
 1706      RASPA HALAL    CURTUME CUBATÃORASPA HALAL      50  13317  35010.0
 1707            COURO         CURTIDORA ITAUNACOURO      90  59102  38100.0
 1708  PAGTO DE DIÁRIA          KAUANPAGTO DE DIÁRIA  ACORDO    713      0.0
 1709  PAGTO DE DIÁRIA         BECCHIPAGTO DE DIÁRIA  ACORDO  23066      0.0

       Peso Balança  Dif. Peso  ... CÓDIGO DE FORNCEDOR   DIÁRIA  \
 0          39010.0        0.0  ...                   4     0.00
 1          34180.0        0.0  ...                   4     0.00
 2          31930.0        NaN  ...                   4     0.00
 3          35500.0        0.0  ...                   4     0.00
 4          30200.0        0.0  ...                   4     0.00
 ...            ...        ...  ...                 ...      ...
 1705       29760.0        0.0  ...                   4     0.00
 1706       35010.0        0.0  ...                   3     0.00
 1707       38100.0        0.0  ...                   4     0.00
 1708           0.0        0.0  ...                   2  1648.40
 1709           0.0        0.0  ...                   2  1312.64

       DIÁRIA SEM IMPOSTO  NOTA REF A DIÁRIA      FORNECEDOR  \
 0                  0.000                NaN             NaN
 1                  0.000                NaN             NaN
 2                  0.000                NaN             NaN
 3                  0.000                NaN             NaN
 4                  0.000                NaN             NaN
 ...                  ...                ...             ...
 1705               0.000                NaN             NaN
 1706               0.000                NaN             NaN
 1707               0.000                NaN             NaN
 1708            1298.115             DIÁRIA  COLOSSO COUROS
 1709            1033.704             DIÁRIA      UPA COUROS

                         CÓDIGO MÊS        ESTADO  Unnamed: 34   DIÁRIA.1
 0        CURTIDORA ITAUNA54508   1  MINAS GERAIS          NaN  DEVOLUÇÃO
 1     CURTUME DELLA TORRE34298   1     SÃO PAULO          NaN        NaN
 2        CURTUME TROPICAL24304   1     SÃO PAULO          NaN        NaN
 3       CURTUME TOINZINHO46140   1  MINAS GERAIS          NaN        NaN
 4        CURTIDORA ITAUNA54545   1  MINAS GERAIS          NaN        NaN
 ...                        ...  ..           ...          ...        ...
 1705     CURTUME TROPICAL25230  12     SÃO PAULO          NaN        NaN
 1706      CURTUME CUBATÃO13317  12     SÃO PAULO          NaN        NaN
 1707     CURTIDORA ITAUNA59102  12  MINAS GERAIS          NaN        NaN
 1708                  KAUAN713  12           NaN          NaN        NaN
 1709               BECCHI23066  12           NaN          NaN        NaN

 [1710 rows x 36 columns],
 'CONTABIL':            Data           Código + Código Docto / Contr  Sér  Oper  \
 0    2024-01-03    CFE  RASPA BOVINA - KG         54508    2  5001
 1    2024-01-03    CFE  RASPA BOVINA - KG           217    1  5015
 2    2024-01-03    CFE  RASPA BOVINA - KG         34298   10  5001
 3    2024-01-04    CFE  RASPA BOVINA - KG         46140    1  5001
 4    2024-01-04    CFE  RASPA BOVINA - KG          1926    1  5015
 ...         ...                       ...           ...  ...   ...
 4229 2024-11-21  CUVQ  FLOR DO COURO - KG        022263  REQ    OP
 4230 2024-11-25  CUVQ  FLOR DO COURO - KG         13271    1  5001
 4231 2024-11-25  CUVQ  FLOR DO COURO - KG         13271    1  5001
 4232 2024-11-25  CUVQ  FLOR DO COURO - KG         13273    1  5001
 4233 2024-11-26  CUVQ  FLOR DO COURO - KG        022319  REQ    OP

       Qtde Entrada  Valor Entrada  Qtde Saída   Valor Saída  Saldo Qtde  \
 0            39010       31153.38           0      0.000000       39010
 1                0        9770.84           0      0.000000       39010
 2            34180       27404.65           0      0.000000       73190
 3            35500       26932.78           0      0.000000      108690
 4                0        1706.49           0      0.000000      108690
 ...            ...            ...         ...           ...         ...
 4229             0           0.00       16550  20253.248356           0
 4230         16630       20351.15           0      0.000000       16630
 4231         11960       14636.19           0      0.000000       28590
 4232         17290       21158.82           0      0.000000       45880
 4233             0           0.00       28590  34987.330305       17290

        Saldo Valor  Custo Unit  MÊS
 0     3.115338e+04    0.798600     1
 1     4.092422e+04    1.049070     1
 2     6.832887e+04    0.933582     1
 3     9.526165e+04    0.876453     1
 4     9.696814e+04    0.892153     1
 ...            ...         ...   ...
 4229 -5.456968e-11    1.223761    11
 4230  2.035115e+04    1.223761    11
 4231  3.498734e+04    1.223761    11
 4232  5.614616e+04    1.223761    11
 4233  2.115883e+04    1.223761    11

 [4234 rows x 13 columns],
 'TRANSFERENCIA':        NOTA   CTE     EMISSÃO    VALOR     FORNECEDOR TRANSPORTADORA  \
 0     17855  57108 2024-02-04  6364.29  TRANSFERENCIA         JALOTO
 1     17857  57109 2024-02-04  6337.03  TRANSFERENCIA         JALOTO
 2     17859  57110 2024-02-04  6234.41  TRANSFERENCIA         JALOTO
 3     17854   1380 2024-02-05  4032.22  TRANSFERENCIA       BRASINHA
 4     17861   1384 2024-02-05  4315.98  TRANSFERENCIA       BRASINHA
 ...     ...    ...        ...      ...            ...            ...
 1092  20763  63508 2024-11-27  6226.39  TRANSFERENCIA         JALOTO
 1093  20766  63512 2024-11-27  6447.67  TRANSFERENCIA         JALOTO
 1094  20760   1823 2024-11-28  4896.45  TRANSFERENCIA       BRASINHA
 1095  20762   1824 2024-11-28  4963.82  TRANSFERENCIA       BRASINHA
 1096  20764   1825 2024-11-28  4770.76  TRANSFERENCIA       BRASINHA

         STATUS ENVIADO PARA O FISCAL ?  MÊS   ANO  \
 0           ok                     SIM    2  2024
 1           ok                     SIM    2  2024
 2           ok                     SIM    2  2024
 3           ok                     SIM    2  2024
 4           ok                     SIM    2  2024
 ...        ...                     ...  ...   ...
 1092        OK                     SIM   11  2024
 1093  PENDENTE                     SIM   11  2024
 1094  PENDENTE                     SIM   11  2024
 1095  PENDENTE                     SIM   11  2024
 1096  PENDENTE                     SIM   11  2024

       DATA DE ENTREGA DA CTE PARA O FISCAL RECEBIDO POR
 0                                      NaN           NaN
 1                                      NaN           NaN
 2                                      NaN           NaN
 3                                      NaN           NaN
 4                                      NaN           NaN
 ...                                    ...           ...
 1092                                   NaN           NaN
 1093                                   NaN           NaN
 1094                                   NaN           NaN
 1095                                   NaN           NaN
 1096                                   NaN           NaN

 [1097 rows x 12 columns],
 'CALCULOS':                                            Unnamed: 0  \
 0                                  CALCULOS DE CUSTOS
 1   COMO REALIZAR O CALCULO DO VALOR SEM IMPOSTO D...
 2   CALCULO PARA VALORES LIQUIDOS ( MATÉRIA PRIMA,...
 3                                                ICMS
 4                                                 PIS
 5                                              COFINS
 6                         ALIQUOTA DA BASE DE CALCULO
 7                                       VALOR LIQUIDO
 8                                                 NaN
 9                                    CUSTO PROGRAMADO
 10                        CUSTO REALIZADO SEM DIÁRIAS
 11                       CUSTO REALIZADO COM DIÁRIAS
 12                                     CUSTO CONTABIL
 13                                      CUSTO CONSUMO

                                            Unnamed: 1
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3   VALOR DO ICMS / VALOR TOTAL DA NOTA = ALIQUOTA...
 4   VALOR DO PIS / VALOR TOTAL DA NOTA = ALIQUOTA ...
 5   VALOR DO COFINS / VALOR TOTAL DA NOTA = ALIQUO...
 6   1-(ALIQUOTA DO ICMS + ALIQUOTA DO PIS + ALIQUO...
 7   VALOR TOTAL DA NOTA * ALIQUOTA DA BASE DE CALCULO
 8                                                 NaN
 9   (VALOR SEM IMPOSTO / VOLUME)*1000 = CUSTO PROG...
 10  ((VALOR SEM IMPOSTO + VALOR DO FRETE SEM IMPOS...
 11  (VALOR MP SEM IMPOSTO + VALOR DO FRETE SEM IMP...
 12  (VALOR DAS ENTRADAS / VOLUME DE ENTRADA)*1000 ...
 13  ((VALOR DE SAÍDAS + VALOR DAS TRANSFERENCIAS S...  }

### Selecionando as colunas, pelo "nome da coluna"

In [ ]:
tabela = pd.read_excel("PLANILHOA.xlsx", sheet_name="BASE MATÉRIA PRIMA", usecols="A:G")
display(tabela)

,Data Emissão NF,Data Recebimento Fábrica,Fornecedor,Material,Código,Prazo,NF
0,2024-01-02,2024-01-03 01:10:00,CURTIDORA ITAUNA,RASPA,CURTIDORA ITAUNARASPA,90,54508
1,2024-01-03,2024-01-03 13:03:00,CURTUME DELLA TORRE,RASPA,CURTUME DELLA TORRERASPA,60,34298
2,2024-01-03,2024-01-03 17:28:00,CURTUME TROPICAL,COURO (FLOR),CURTUME TROPICALCOURO (FLOR),30,24304
3,2024-01-04,2024-01-04 16:42:00,CURTUME TOINZINHO,RASPA,CURTUME TOINZINHORASPA,21,46140
4,2024-01-05,2024-01-08 08:28:00,CURTIDORA ITAUNA,COURO (FLOR),CURTIDORA ITAUNACOURO (FLOR),90,54545
...,...,...,...,...,...,...,...
1705,2024-12-03,2024-12-03 16:31:00,CURTUME TROPICAL,COURO,CURTUME TROPICALCOURO,30,25230
1706,2024-12-03,2024-12-03 16:47:00,CURTUME CUBATÃO,RASPA HALAL,CURTUME CUBATÃORASPA HALAL,50,13317
1707,2024-12-02,2024-12-03 18:22:00,CURTIDORA ITAUNA,COURO,CURTIDORA ITAUNACOURO,90,59102
1708,2024-12-03,DIÁRIA,KAUAN,PAGTO DE DIÁRIA,KAUANPAGTO DE DIÁRIA,ACORDO,713
1709,2024-12-03,DIÁRIA,BECCHI,PAGTO DE DIÁRIA,BECCHIPAGTO DE DIÁRIA,ACORDO,23066

### Buscando informações de uma tabela fora de uma celula especifica

In [ ]:
tabela = pd.read_excel("PLANILHOA.xlsx", sheet_name="BASE MATÉRIA PRIMA", skiprows=7)
display(tabela)

,2024-01-08 00:00:00,2024-01-08 17:28:00,CURTUME DELLA TORRE,RASPA,CURTUME DELLA TORRERASPA,60,34313,34770,34770.1,0,...,4,0,0.2,Unnamed: 29,Unnamed: 30,CURTUME DELLA TORRE34313,1.1,SÃO PAULO,Unnamed: 34,Unnamed: 35
0,2023-01-08,2024-01-08 17:36:00,CURTUME TOINZINHO,RASPA,CURTUME TOINZINHORASPA,21,46159,36600.0,36600.0,0,...,4,0.00,0.000,NaN,NaN,CURTUME TOINZINHO46159,1,MINAS GERAIS,NaN,NaN
1,2024-01-09,2024-01-09 15:19:00,CURTUME DELLA TORRE,RASPA,CURTUME DELLA TORRERASPA,60,34316,38020.0,38020.0,0,...,4,0.00,0.000,NaN,NaN,CURTUME DELLA TORRE34316,1,SÃO PAULO,NaN,NaN
2,2024-01-09,2024-01-09 17:56:00,CURTUME TROPICAL,RASPA,CURTUME TROPICALRASPA,30,24307,37250.0,37250.0,0,...,4,0.00,0.000,NaN,NaN,CURTUME TROPICAL24307,1,SÃO PAULO,NaN,NaN
3,2024-01-09,2024-01-10 06:01:00,CURTIDORA ITAUNA,COURO (FLOR),CURTIDORA ITAUNACOURO (FLOR),90,54577,30200.0,30200.0,0,...,4,0.00,0.000,NaN,NaN,CURTIDORA ITAUNA54577,1,MINAS GERAIS,NaN,NaN
4,2024-01-10,2024-01-10 10:39:00,CURTUME DELLA TORRE,RASPA,CURTUME DELLA TORRERASPA,60,34321,33820.0,33820.0,0,...,4,0.00,0.000,NaN,NaN,CURTUME DELLA TORRE34321,1,SÃO PAULO,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1698,2024-12-03,2024-12-03 16:31:00,CURTUME TROPICAL,COURO,CURTUME TROPICALCOURO,30,25230,29760.0,29760.0,0,...,4,0.00,0.000,NaN,NaN,CURTUME TROPICAL25230,12,SÃO PAULO,NaN,NaN
1699,2024-12-03,2024-12-03 16:47:00,CURTUME CUBATÃO,RASPA HALAL,CURTUME CUBATÃORASPA HALAL,50,13317,35010.0,35010.0,0,...,3,0.00,0.000,NaN,NaN,CURTUME CUBATÃO13317,12,SÃO PAULO,NaN,NaN
1700,2024-12-02,2024-12-03 18:22:00,CURTIDORA ITAUNA,COURO,CURTIDORA ITAUNACOURO,90,59102,38100.0,38100.0,0,...,4,0.00,0.000,NaN,NaN,CURTIDORA ITAUNA59102,12,MINAS GERAIS,NaN,NaN
1701,2024-12-03,DIÁRIA,KAUAN,PAGTO DE DIÁRIA,KAUANPAGTO DE DIÁRIA,ACORDO,713,0.0,0.0,0,...,2,1648.40,1298.115,DIÁRIA,COLOSSO COUROS,KAUAN713,12,NaN,NaN,NaN
1702,2024-12-03,DIÁRIA,BECCHI,PAGTO DE DIÁRIA,BECCHIPAGTO DE DIÁRIA,ACORDO,23066,0.0,0.0,0,...,2,1312.64,1033.704,DIÁRIA,UPA COUROS,BECCHI23066,12,NaN,NaN,NaN

In [ ]:
tabela = pd.read_excel("PLANILHOA.xlsx", sheet_name="BASE MATÉRIA PRIMA", usecols="A:G", skiprows=8)
display(tabela)

,2023-01-08 00:00:00,2024-01-08 17:36:00,CURTUME TOINZINHO,RASPA,CURTUME TOINZINHORASPA,21,46159
0,2024-01-09,2024-01-09 15:19:00,CURTUME DELLA TORRE,RASPA,CURTUME DELLA TORRERASPA,60,34316
1,2024-01-09,2024-01-09 17:56:00,CURTUME TROPICAL,RASPA,CURTUME TROPICALRASPA,30,24307
2,2024-01-09,2024-01-10 06:01:00,CURTIDORA ITAUNA,COURO (FLOR),CURTIDORA ITAUNACOURO (FLOR),90,54577
3,2024-01-10,2024-01-10 10:39:00,CURTUME DELLA TORRE,RASPA,CURTUME DELLA TORRERASPA,60,34321
4,2024-01-10,2024-01-10 14:29:00,CURTUME TOINZINHO,RASPA,CURTUME TOINZINHORASPA,21,46187
...,...,...,...,...,...,...,...
1697,2024-12-03,2024-12-03 16:31:00,CURTUME TROPICAL,COURO,CURTUME TROPICALCOURO,30,25230
1698,2024-12-03,2024-12-03 16:47:00,CURTUME CUBATÃO,RASPA HALAL,CURTUME CUBATÃORASPA HALAL,50,13317
1699,2024-12-02,2024-12-03 18:22:00,CURTIDORA ITAUNA,COURO,CURTIDORA ITAUNACOURO,90,59102
1700,2024-12-03,DIÁRIA,KAUAN,PAGTO DE DIÁRIA,KAUANPAGTO DE DIÁRIA,ACORDO,713
1701,2024-12-03,DIÁRIA,BECCHI,PAGTO DE DIÁRIA,BECCHIPAGTO DE DIÁRIA,ACORDO,23066

### Selecionando quantas linhas vc quer ver no dataframe

In [ ]:
tabela = pd.read_excel("PLANILHOA.xlsx", sheet_name="BASE MATÉRIA PRIMA", nrows=7)
display(tabela)

,Data Emissão NF,Data Recebimento Fábrica,Fornecedor,Material,Código,Prazo,NF,Peso NF,Peso Balança,Dif. Peso,...,CÓDIGO DE FORNCEDOR,DIÁRIA,DIÁRIA SEM IMPOSTO,NOTA REF A DIÁRIA,FORNECEDOR,CÓDIGO,MÊS,ESTADO,Unnamed: 34,DIÁRIA.1
0,2024-01-02,2024-01-03 01:10:00,CURTIDORA ITAUNA,RASPA,CURTIDORA ITAUNARASPA,90,54508,39010,39010,0.0,...,4,0,0,NaN,NaN,CURTIDORA ITAUNA54508,1,MINAS GERAIS,NaN,DEVOLUÇÃO
1,2024-01-03,2024-01-03 13:03:00,CURTUME DELLA TORRE,RASPA,CURTUME DELLA TORRERASPA,60,34298,34180,34180,0.0,...,4,0,0,NaN,NaN,CURTUME DELLA TORRE34298,1,SÃO PAULO,NaN,NaN
2,2024-01-03,2024-01-03 17:28:00,CURTUME TROPICAL,COURO (FLOR),CURTUME TROPICALCOURO (FLOR),30,24304,31930,31930,NaN,...,4,0,0,NaN,NaN,CURTUME TROPICAL24304,1,SÃO PAULO,NaN,NaN
3,2024-01-04,2024-01-04 16:42:00,CURTUME TOINZINHO,RASPA,CURTUME TOINZINHORASPA,21,46140,35500,35500,0.0,...,4,0,0,NaN,NaN,CURTUME TOINZINHO46140,1,MINAS GERAIS,NaN,NaN
4,2024-01-05,2024-01-08 08:28:00,CURTIDORA ITAUNA,COURO (FLOR),CURTIDORA ITAUNACOURO (FLOR),90,54545,30200,30200,0.0,...,4,0,0,NaN,NaN,CURTIDORA ITAUNA54545,1,MINAS GERAIS,NaN,NaN
5,2024-01-08,2024-01-08 17:15:00,CURTUME TROPICAL,COURO (FLOR),CURTUME TROPICALCOURO (FLOR),30,24306,25700,25700,0.0,...,4,0,0,NaN,NaN,CURTUME TROPICAL24306,1,SÃO PAULO,NaN,NaN
6,2024-01-08,2024-01-08 17:28:00,CURTUME DELLA TORRE,RASPA,CURTUME DELLA TORRERASPA,60,34313,34770,34770,0.0,...,4,0,0,NaN,NaN,CURTUME DELLA TORRE34313,1,SÃO PAULO,NaN,NaN

In [12]:
display(tabela.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 36 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Data Emissão NF                 7 non-null      datetime64[ns]
 1   Data Recebimento Fábrica        7 non-null      datetime64[ns]
 2   Fornecedor                      7 non-null      object
 3   Material                        7 non-null      object
 4   Código                          7 non-null      object
 5   Prazo                           7 non-null      int64
 6   NF                              7 non-null      int64
 7   Peso NF                         7 non-null      int64
 8   Peso Balança                    7 non-null      int64
 9   Dif. Peso                       6 non-null      float64
 10  %                               7 non-null      int64
 11  R$ / Kg                         7 non-null      float64
 12  Valor Total NF/R$               7 non-null      float64
 13  Frete R$/Kg                     7 non-null      float64
 14  N° CTe                          7 non-null      object
 15  ENTRADA Cte                     7 non-null      int64
 16  TRANSPORTADORA                  7 non-null      object
 17  Total Frete R$/Kg               7 non-null      float64
 18  Total MP R$                     7 non-null      float64
 19  (-) Impostos                    7 non-null      float64
 20  Preço Total R$ SEM IMPOSTOS     7 non-null      float64
 21  Custo Total R$/Kg SEM IMPOSTOS  7 non-null      float64
 22  FRETE SEM IMPOSTO               7 non-null      float64
 23  MP + FRETE SEM IMPOSTOS         7 non-null      float64
 24  CUSTO MP                        7 non-null      float64
 25  CÓDIGO DE MATERIAL              7 non-null      int64
 26  CÓDIGO DE FORNCEDOR             7 non-null      int64
 27  DIÁRIA                          7 non-null      int64
 28  DIÁRIA SEM IMPOSTO              7 non-null      int64
 29  NOTA REF A DIÁRIA               0 non-null      float64
 30  FORNECEDOR                      0 non-null      float64
 31  CÓDIGO                          7 non-null      object
 32  MÊS                             7 non-null      int64
 33  ESTADO                          7 non-null      object
 34  Unnamed: 34                     0 non-null      float64
 35  DIÁRIA.1                        1 non-null      object
dtypes: datetime64[ns](2), float64(15), int64(11), object(8)
memory usage: 2.1+ KB

None